.BtnAuthOpen {
    padding: 5px 15px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}

.BtnAuthClose {
    justify-content: flex-end;
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
}

.modal {
    display: flex;
    align-items: flex-start;
    margin: 15px 100px;
    width: 500px;
    height: 650px;
    background: white;

}