  /* .BtnGame {
    align-self: center;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    padding: 15px 30px;
    font-size: 20px;
    border: 5px solid teal;
    cursor: pointer;
  } */